{% if site.social.github %}
<a href="{{ site.social.github }}" class="social-icon text-inherit"><i class="bi bi-github social-icon-color" alt="github"></i></a>
{% endif %}

{% if site.social.email %}
<a href="{{ 'mailto:' | append: site.social.email }}" class="social-icon text-inherit"><i class="bi bi-envelope-fill social-icon-color" alt="email"></i></a>
{% endif %}

{% if site.social.x %}
<a href="{{ site.social.x }}" class="social-icon text-inherit"><i class="bi bi-twitter-x social-icon-color" alt="x"></i></a>
{% endif %}

{% if site.social.instagram %}
<a href="{{ site.social.instagram }}" class="social-icon text-inherit"><i class="bi bi-instagram social-icon-color"></i></a>
{% endif %}

{% if site.social.youtube %}
<a href="{{ site.social.youtube }}" class="social-icon text-inherit"><i class="bi bi-youtube social-icon-color"></i></a>
{% endif %}

{% if site.social.website %}
<a href="{{ site.social.website }}" class="social-icon text-inherit"><i class="bi bi-globe-asia-australia social-icon-color"></i></a>
{% endif %}
