<div id="left-side-bar" class="
    hidden xl:block
    w-[300px] py-[100px] px-6
    bg-white dark:bg-zinc-900
    shadow-layout
">
    <div class="w-full text-center">
        <img src="{{ site.baseurl | append: site.profile_image }}" width="140px" height="140px"
            class="mx-auto rounded-full" alt="profile"
        />
        <h2 class="font-bold text-rose-400 dark:text-yellow-200">{{ site.nickname }}</h2>
        <p>{{ site.user_description }}</p>
    </div>

    <div class="w-full mt-10 flex flex-wrap justify-center gap-8">
        {% include default-social-list.html %}
    </div>

    <div class="w-full h-[0px] border-b border-zinc-400 mt-8"></div>

    <div class="mt-8 w-full text-center flex flex-col gap-6">
        <a class="text-pink-600 dark:text-dark-text-default font-bold cursor-pointer no-underline" href="{{ site.baseurl | append: '/' }}">Home</a>
        <a class="text-violet-600 dark:text-dark-text-default font-bold cursor-pointer no-underline" href="{{ site.baseurl | append: '/posts' }}">Posts</a>
        <a class="text-lime-600 dark:text-dark-text-default font-bold cursor-pointer no-underline" href="{{ site.baseurl | append: '/categories' }}">Categories</a>
    </div>
</div>
<div class="w-[1px] bg-gray"></div>