<nav class="
        fixed layout-container align-center
        w-full h-16 z-navbar
        text-light-primary-600 dark:text-dark-primary-default
        bg-light-primary-400 dark:bg-zinc-800 bg-opacity-80 backdrop-blur-[2px]
        dark:border-b dark:border-yellow-100
        shadow-navbar-light dark:shadow-navbar-dark
">
    <div class="
        layout-item
        flex justify-between items-center
    ">
        <i id="navbar-menu-button" class="nav-icon bi bi-list text-4xl xl:invisible"></i>

        <a id="navbar-title" href="{{ site.baseurl | append: '/posts' }}" class="
            text-lg hidden xl:block cursor-pointer no-underline font-bold text-white dark:text-dark-primary-200
        ">
            {{ site.title }}
        </a>

        <i id="navbar-mode-selector" class="nav-icon bi text-2xl"></i>
    </div>
</nav>

{% include navbar-menu.html %}