<ul id="navbar-menu" class="
    hidden fixed
    z-30 w-full mt-16 py-6
    bg-white dark:bg-zinc-950
    list-none
    flex flex-col gap-6 text-center
    shadow-navbar-menu
">
    <li class="border-buttom text-[1.2em]"><a class="no-underline text-current" href="{{ site.baseurl | append: '/posts' }}">Posts</a></li>
    <li class="border-buttom text-[1.2em]"><a class="no-underline text-current" href="{{ site.baseurl | append: '/categories' }}">Categories</a></li>
    <li class="border-buttom text-[1.2em]"><a class="no-underline text-current" href="{{ site.baseurl | append: '/about' }}"">About</a></li>
</ul>