<div class="mb-20">
    <div class="text-center">
        <h2 class="
            px-10 py-4 inline-block
            bg-orange-100 text-orange-600 dark:text-yellow-200
            dark:bg-transparent dark:border-double dark:border dark:border-yellow-200 rounded-md
            shadow-paper-styled
        ">
            {{ page.title }}
        </h2>
        <p class="font-semibold"><a href="{{ site.baseurl | append: '/categories/#' | append: page.categories[0] }}" class="no-underline text-orange-700 dark:text-blue-200">{{ page.categories[0] | replace: '_', ' ' }}</a></p>
    </div>
    
    <div class="mt-10">
        <p class="text-[0.8em]">Posted <strong class="no-underline">{{ page.date | date: "%Y.%m.%d %H:%M"  }}</strong></p>
        <p class="text-[0.8em] -mt-2">By <strong class="no-underline">{{ site.nickname }}</strong></p>
    </div>

    <div class="
        mt-6 h-[2px] bg-gradient-to-r
        from-white via-lime-400 to-white
        dark:from-zinc-900 dark:via-yellow-200 dark:to-zinc-900
    "></div>

    {% if page.image and page.image != "" %}
        <img src="{{ site.baseurl | append: "/assets/img" | append: page.image }}" alt="main-image"  />
    {% endif %}
</div>