<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        {% include navbar.html %}

        <div class="web-main-container">
            {% include left-side.html %}
            <div class="web-main-item">
                {% include post-intro.html %}
                {{ content }}

                <div class="
                    mt-6 h-[2px] bg-gradient-to-r
                    from-white via-cyan-400 to-white
                    dark:from-zinc-900 dark:via-yellow-200 dark:to-zinc-900
                "></div>
                <div class="px-4 py-4 flex flex-wrap justify-start gap-x-2.5 gap-y-1.5">
                    {% for tag in page.tags %}
                    <a class="tag" href="{{ site.baseurl | append: '/tags/#' | append: tag }}">{{ tag }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% include footer.html %}
        {% include foot.html %}
    </body>
</html>